[submodule "inc/libinjection"]
	path = inc/libinjection
	url = https://github.com/libinjection/libinjection
	branch = main

[submodule "inc/uthash"]
	path = inc/uthash
	url = https://github.com/troydhanson/uthash
